@media only screen and (max-width: 720px) {
  
  #tituloPrincipal {
    margin-left: 3%;

  }
  .botaoMenu {
    width: 100%;
    background-color: #fff504;
    border-color: #fff504;
    font-size: 24px;
    font-weight: 900;
    margin-left: 8%;
    margin-right: 8%;
    align-items: center;
  }

  .botaoMenu:hover {
    color: #fff;
    background-color: #000000;
  }

  video {
    margin-top: 18%;
    width: 100%;
    margin-bottom: 0%;
  }
  .quemSomos {
    text-transform: uppercase;
    height: 100px;
    left: calc(50% - 341px / 2 - 8.5px);
    top: 785px;
    padding-top: 17%;
    padding-bottom: 20%;

    font-family: quantico;
    font-style: normal;
    font-weight: normal;
    font-size: 35pt !important;
    line-height: 71px;
    text-align: center;
    color: #ffffff;
  }
  .imagemSobre {
    width: 200px;
    height: 200px;
    border-radius: 2%;
    border: 2px solid #fff504;
  }
  p.sobreAcademia {
    font-family: Quantico;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: justify;
    padding-left: 12%;
    padding-right: 12%;

    color: #ffffff;
  }
  .car{
    margin-left: 0%!important;
  }
  .imgEspaco {
    margin-bottom: 4%;
    margin-top: 4%;
  }
  .setaSobrePrev {
    margin-left: -2%;
  
  }
  .carousel-control-next-icon {
    margin-left: 10px;
  }
  .setaEstruturaPrev{
    margin-left: 0%!important;
  }
  .cards{
    width: 300px!important;
    height:420px;
  }
  .imgModalidade{
    height: 200px;
  }

    .listamodalidades{
    align-items: center;
    margin: 0cm!important;
    padding: 0cm!important;
  }

  div.row.listamodalidades{
    display: flex;
    align-items: center;
    margin: 0cm!important;
    padding: 0cm!important;
  }
  ul.listamodalidades{
    display: flex;
    align-items: center;
    margin-left: 8%!important;
    padding: 0cm!important;
  }
  #contato{
    margin-bottom: 30px;
  }
 .linha-vertical{
   border-bottom:2px solid #FFFFFF !important;
   height: 0%;
   width: 300px;
   border-left: none;
   margin-left: 10%;
 }
 ul.listacontato{
   display: flex;
   align-items: center;
   margin: 0%!important;
   padding:0%!important;
   }
   br.esconder{
     display: none;
 }
 .center i{
  margin-left: 0%;
  margin-top: 60px;
  font-size:80pt!important;
 }
  
}
